---
layout: default
title: Tours
things:
- name: thing 1
  bits:
  - name: bit 1 in thing 1
    descrption: a bit oin a thing
  - name: bit 2 in thing 1
    descrption: a bit oin a thing
- name: thing 2
  bits:
  - name: bit 1 in thing 2
    descrption: a bit oin a thing
  - name: bit 2 in thing 2
    descrption: a bit oin a thing
  - name: bit 3 in thing 2
    descrption: a bit oin a thing

tours:
- name: Full Day in Ubud
  blocking: light
  block: lightblock
  image: 
  locations:
  - name: Barong Keris Dance
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit.
  - name: Batuan Temple
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit.
  - name: Monkey Forest
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit.
  - name: Rice Terrace Tegalalang
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit.
  - name: Tegenungan Waterfall
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit.
- name: Tanah Lot Full Day Tour
  blocking: dark
  block: darkblock
  image: 
  locations:
   - name:
     description:



---
<section class="light">
    <div class="grid-noGutter lightblock">
            {% for item in page.tour %}
      <div class="col-3_sm-6">
        <div class="bg-image" style="background-image:url('/pencils.jpg');"> </div>
        <h2> {{item.tourname}} </h2>
        <p> {{item.loc1}} </p>
    </div>
        {% endfor %}
    {% for thing in page.things %}
        <p>
            {{ thing.name }}
        </p>
        <ul>
            {% for bit in thing.bits %}
                <li>
                    {{ bit.name }} - {{ bit.descrption }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</section>

<!-- Full day tour Ubud -->
<section class="{{tours.blocking}}">
    <div class="grid-noGutter {{tours.block}} ">
       {% for tour in page.tours %}
            <h2>
                {{ tour.name }}
            </h2>
        <div class="col-6_sm-12">
            <!-- Tour Big image -->
        </div>
        <div class="col-6_sm-12-middle">
            <ul>
                {% for location in tour.locations %}
                    <li>
                        {{ location.name }} <br> {{ location.description }}
                    </li>
                {% endfor %}
            </ul>
        </div>
       {% endfor %} 
    </div>
</section>