<!DOCTYPE html>

<html>
   <head> 
       <title>{{page.title}}</title>
       <!-- CSS stylesheet -->
       <link rel="stylesheet" href="/styles/style.css">
        <!-- Gridlex stylesheet -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
       <!-- Google Font -->
       <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
   </head>
   
   <body>
       <header class="grid-noGutter-center center">
           <nav class="col-middle">
               <a href="/index.html#about" class="navlink">
                   About Us
                </a>
                <a href="/carprice" class="navlink">
                    Cars &amp; Chauffers
                </a>
           </nav>
           <div class="col-middle center">
               <h2>
                   <a href="/index.html"> &#9830; </a>
               </h2>
           </div>
           <nav class="col-middle center">
               <a href="/tours" class="navlink">
                    Tours
               </a>
               <a href="/contact" class="navlink">
                   Contact Us
               </a>
           </nav>
       </header>

       <!-- Banner -->
       <section class="grid-center-noGutter centerbanner">
        <div class="col-middle centered">
           <div class="centered banner-text">
                <h1>
                Diamond Tours Bali
                </h1>
                <h2>
                Transport  <span style="color:#beff9f"> &#9830; </span> Transfers <span style="color:#beff9f"> &#9830; </span> Tours
                </h2>
            </div>
        </div>
       </section>

       <!-- page content -->
       {{content}}

         <!-- Footer -->
    <footer class="grid">
        <div class="col-5_sm-12">
            <h2>
                Diamond Tours Bali
            </h2>
        </div>
        <div class="col-7_sm-12 right">
            <a href="/index.html#about" class="footlink">
                About Us
            </a>
            <a href="/carprice" class="footlink">
                Cars &amp; Chauffers
            </a>
            <a href="/tours" class="footlink">
                Tours
            </a>
            <a href="/contact" class="footlink">
                Contact Us
            </a>
        </div>
    </footer>
</body>
</html>